.body {
  flex-grow: 1;
  height: 100vh;
  color: white;
  overflow-y: overlay;
  padding: 0px 0px 30px 0px;
  background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0, 1));
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
