.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 30px 10px 30px;
  transition: 300ms all ease-in;
}
.header.solid {
  background-color: #47455b;
}

.header__left {
  min-width: 60px;
  background-color: white;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  height: 12px;
}

.header__left > input {
  border: none;
  max-width: 80%;
}
.header__left > input:focus {
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 50px;
  padding: 2px 5px 2px 2px;
  background: rgba(0, 0, 0, 0.7);
}

.header__right .MuiAvatar-root {
  width: 30px;
  height: 30px;
}

.header__right:hover {
  background: #282828;
}

.header__right > h5 {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .header__right {
    background: none;
  }
  .header__right > h5 {
    display: none;
  }
  .header__right .MuiSvgIcon-root {
    display: none;
  }
}
