.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 30px 10px 30px;
  transition: 300ms all ease-in;
}
.header.solid {
  background-color: #47455b;
}

.header__left,
.title__bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.title__bar {
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 300ms all ease-in;
}

.title__bar.visible {
  visibility: visible;
  opacity: 1;
}

.title__bar .MuiSvgIcon-root {
  margin: 0 10px 0 10px;
  color: #1db954;
  font-size: 3rem;
}

.search__bar {
  min-width: 60px;
  background-color: white;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 0;
  height: 12px;
}

.search__bar > input {
  border: none;
  max-width: 80%;
}
.search__bar > input:focus {
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 50px;
  padding: 2px 5px 2px 2px;
  background: rgba(0, 0, 0, 0.7);
}

.header__right .MuiAvatar-root {
  width: 30px;
  height: 30px;
}

.header__right:hover {
  background: #282828;
}

.header__right > h5 {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .header__right {
    background: none;
  }
  .header__right > h5 {
    display: none;
  }
  .header__right .MuiSvgIcon-root {
    display: none;
  }
}
