.body__songs {
  background: linear-gradient(rgba(0, 0, 0, 0.1), 30%, #121212);
}

.body__icons {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 70px !important;
  margin: 20px 0 20px 0;
  color: #1db954;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__like {
  color: #1db954;
}

.body__more {
  color: #b3b3b3;
}

.body__more:hover {
  color: white;
}

.table__header {
  border-bottom: 1px solid #3d3c3d;
  margin: 10px;
  position: sticky;
  top: 67px;
  transition: 300ms all ease-in;
  vertical-align: middle;
}

.table__header.solid {
  background-color: #222222;
}

.table__header .MuiSvgIcon-root {
  font-size: 18px;
  vertical-align: middle;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  color: #b3b3b3;
  padding-top: 7px;
  padding-bottom: 7px;
}

.table__number {
  text-align: center;
  width: 4%;
}
.table__title {
  width: 40%;
}
.table__album {
  width: 25%;
}
.table__date {
  width: 15%;
}
.table__time {
  width: 11%;
  text-align: center;
  padding-left: 100px;
  padding-right: 50px;
}
.table__filler__left,
.table__filler__right {
  width: 2.5%;
}
