.songRow {
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: #383034;
  border-radius: 5px;
}

.songRow:hover p {
  color: white;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h2 {
  font-size: 14px;
}

.songRow__info > p {
  font-size: 13px;
  margin-top: 3px;
  color: #b3b3b3;
}

.songRow__album {
  height: 40px;
  width: 40px;
}
