.songRow {
  padding: 10px 20px 10px 0px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.tableRow:hover td {
  cursor: pointer;
  background-color: #3e3e3e;
}

.tableRow:hover p {
  color: white;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h2 {
  font-size: 14px;
}

.songRow__info > p {
  font-size: 13px;
  margin-top: 3px;
  color: #b3b3b3;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

.table__data {
  font-size: 13px;
  color: #b3b3b3;
}

.table__data.number {
  text-align: center;
  font-size: 15px;
}

.table__data .playIcon {
  vertical-align: middle;
  font-size: 22px;
  color: white;
}

.table__data .heartIcon,
.table__data .removeIcon,
.table__data .moreIcon {
  font-size: 19px;
  visibility: hidden;
}

.table__data > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 15px;
  padding-right: 15px;
}

.heartIcon.show,
.removeIcon.show,
.moreIcon.show {
  visibility: visible;
}

.table__data .heartIcon:hover,
.table__data .removeIcon:hover {
  color: white;
}

.table__data .moreIcon {
  color: white;
}

.rounded_left {
  border-radius: 5px 0 0 5px;
}

.rounded_right {
  border-radius: 0 5px 5px 0;
}
